<!-- <nav class="navbar" >
    <div class="left-links">
        <a routerLink="home">SCHOLARSHIP PLATFORM</a>
    </div>
    <div class="right-links">
        <a routerLink="registration">Register</a>
        <a routerLink="login">Login</a>
    </div>
</nav> -->

<nav class="navbar" *ngIf="!authService.isLoggedIn();else loggedIn">
    <div class="left-links">
        <a routerLink="home">SCHOLARSHIP PLATFORM</a>
    </div>
    <div class="right-links">
        <a routerLink="registration">Register</a>
        <a routerLink="login">Login</a>
    </div>
</nav>
<ng-template #loggedIn>
    <app-adminnav *ngIf="authService.isAdmin()"></app-adminnav>
    <app-usernav *ngIf="authService.isUser()"></app-usernav>
</ng-template>
